* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Comme";
}

header {
  width: 90%;
  margin: auto;
}
.headingSection {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  /* color: red; */
}
.headingSection a {
  text-decoration: none;
}
.heading {
  font-family: "Comme";
  color: rgb(117 18 58);
  margin-bottom: 8px;
}
/* toggle///////////////////////////////// */
.show {
  /* border: 2px solid blue; */
  padding: 4px 8px;
  border-radius: 50%;
  margin-top: 8px;
  background-color: rgb(230, 229, 229);
  cursor: pointer;
}
.show:hover {
  opacity: 0.9;
}
.profileSettingToggle {
  /* display: none; */
  /* margin-left: -100px; */
  cursor: pointer;
  border: 2px solid gray;
  margin-left: -100px;
  width: 130px;
  margin-top: -40px;
  /* position: absolute; */
  position: fixed;
  background-color: rgb(228, 228, 228);
}

.profileSettingToggle div {
  border-bottom: 1px solid gray;
  /* height: 24px; */
  padding: 4px;
  padding-left: 10px;
  font-weight: bold;
}

.profileSettingToggle div:hover {
  background-color: rgb(211, 211, 211);
  text-decoration: underline;
}
.header nav ul {
  display: flex;
  justify-content: space-between;
  /* margin: 4px; */
  margin-bottom: 10px;
}
.header nav ul li {
  list-style: none;
  font-size: 20px;
}
.heading i,
header nav ul li i {
  color: rgb(156, 156, 156);
}
.show i:hover,
.header nav ul li i:hover {
  /* color: rgb(126, 126, 126); */
  opacity: 0.6;
}
.activate {
  /* color: rgb(117 18 58); */
  color: rgb(117 18 58);
}
.activate:hover {
  opacity: 0.8;
}

/* media for 720px////////////////////////////////////////////////////////////// */
@media screen and (min-width: 460px) {
  .profileSettingToggle {
    /* margin-left: -1px; */
  }
}

/* media for 720px////////////////////////////////////////////////////////////// */
@media screen and (min-width: 720px) {
  body {
    width: 720px;
    margin: auto;
  }
  .profileSettingToggle {
    margin-left: -80px;
  }
}

@media screen and (min-width: 1200px) {
  body {
    width: 100%;
    margin: auto;
  }
  .header {
    background-color: white;
    position: fixed;
    width: 100%;
    background-color: rgb(230, 229, 229);
    border-bottom: 3px solid rgb(194, 194, 194);
    height: 60px;
  }
  .headingSection {
    padding-left: 20px;
  }
  .heading {
    font-size: 36px;
    padding-top: 10px;
    font-weight: bold;
  }
  .show {
    /* border: 2px solid blue; */
    padding: 4px 10px;
    font-size: 25px;
    border-radius: 50%;
    margin-top: 12px;
    background-color: white;
    margin-right: 20px;
  }
  .profileSettingToggle {
    /* display: none; */
    cursor: pointer;
    /* margin-left: -100px; */
    border: 2px solid gray;
    margin-left: -90px;
    width: 140px;
    margin-top: -50px;
    /* position: absolute; */
    /* position: absolute; */
    background-color: rgb(228, 228, 228);
  }

  /* #profile-setting  */
  .header nav {
    width: 560px;
    margin: auto;
    margin-top: -40px;
  }
  .header nav ul {
    margin-top: -50px;
  }
  .header nav ul li i {
    font-size: 30px;
    padding-top: 5px;
    padding: 21px 18px 13px;
    margin-top: -20px;
    margin-bottom: 0;
  }
  .activate {
    border-bottom: 3px solid rgb(117, 18, 58);
    animation: shadow-inset-bottom 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
  }
  .header nav ul .displayNoneIcon {
    display: none;
  }
  .heading i {
    display: inline-block;
  }
}
